{
	admin off
}

{$EXCALIDRAW_WOPI_PUBLIC_URL} {
	log_skip /lbhealthz
	respond /lbhealthz 200

	reverse_proxy excalidraw-wopi:8080

	# If you need a high available setup open the port in the compose
	# and uncomment the HA block below.
	# See `docs/HIGH-AVAILABILITY.md` for details.

  # reverse_proxy excalidraw-wopi:8080 10.0.1.11:8080 {
  #     lb_policy query room
  #     health_uri /healthz
  #     health_interval 5s
  #     health_timeout 2s
  # }
}

http:// {
	log_skip /lbhealthz
	respond /lbhealthz 200
}
